sudo: false

language: node_js

node_js:
  - "6"
  - "7"

cache:
  directories:
    - node_modules

install:
  - npm install --ignore-scripts

script:
  - npm test

after_success:
  - bash <(curl -s https://codecov.io/bash)
